<template id="boardColumn">
    <style> 
        .body{
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color:#F4F5F7;
            border: 1px solid #bed2eb;
            height: 100%;
            width: 210px;
            padding: 10px;
        }
        .header{
            display: flex;
            justify-content: space-between;
        } 
    </style>
    <div class="body" id="body">
        <div class="header">
            <button id="previous"><-</button>
            <h3 id="title">Колонка</h3>
            <button id="next">-></button>
        </div>
        <slot></slot>
        <button class="classicButton" id="createTask">
            Создать задачу
        </button>
    </div>
</template>

<script type="module">
    import {post} from "./src/Core/Api/Api.js";
    import {updateChildren, UpdateSetting} from "./src/Core/Render/UpdateChidren.js";
    import {rerenderComponents} from "./src/Core/Render/Rerender.js";
    import columnListStore from "./src/Stores/ColumnsListStore.js";
    import taskListStore from "./src/Stores/TaskListStore.js";
    import filterStore from "./src/Stores/FilterStore.js";
    
    function initMainDropEvent(element, id){
        async function drop_handler2(event) {
            element.style.outline = "none";
            let taskId = event.dataTransfer.getData("application/my-app");
            let card = event.dataTransfer.getData("text/html");

            let ok = await post("/Board/replacetask",{boardId:id, taskId:taskId})
            if(ok){
                rerenderComponents("column-board");
            }
        }

        function onDragOver(event){
            // prevent default to allow drop
            event.preventDefault();
            element.style.outline = "3px dotted";
            event.dataTransfer.dropEffect = "move";
        }

        function onDragLeave(){
            element.style.outline = "none";
        }
        element.removeEventListener("dragover", onDragOver);
        element.addEventListener("dragover", onDragOver);

        element.removeEventListener("dragleave", onDragLeave);
        element.addEventListener("dragleave", onDragLeave);

        element.removeEventListener("drop", drop_handler2);
        element.addEventListener("drop", drop_handler2);
    }

    class BoardColumn extends HTMLElement {
        constructor() {
            super();
            // элемент создан
        }

        render() { // (1)
            const template = document.querySelector('#boardColumn');
            let title = this.getAttribute('title');
            let id = this.getAttribute('entity');
            let onCreate = this.getAttribute('onCreate');
            if(this.shadowRoot == null) this.attachShadow({mode: 'open'});
            let node = template.content.cloneNode(true);
            initMainDropEvent(node.getElementById('body'), id);
            node.getElementById('title').innerHTML = title;
            node.getElementById('createTask').addEventListener('click', () => eval(onCreate));
            node.getElementById('next').addEventListener('click', () => this.replace(id, 1));
            node.getElementById('previous').addEventListener('click', () => this.replace(id, -1));
            this.shadowRoot.innerHTML = "";
            this.shadowRoot.append(node);
            this.loadData(id);
            filterStore.subscribe(() => this.loadData(id));
        }


        async replace(id, magnifier){
            const queryString = window.location.search;
            const params = new URLSearchParams(queryString);
            const idParams = parseInt(params.get("board"));

            await post("/Board/replacecolumn",{id:id, magnifier:magnifier});
            await columnListStore.load({id:idParams});
        }

        async loadData(id){
            let items = await post("/Board/gettasks",{boardId:id, filter: filterStore.Filter});
            if(items){
                let setting = {
                    querySelector: (item) => `card-board[entity="${item.id}"]`,
                    items: items.items,
                    idAttribute: "entity",
                    onCreate: (item) =>{
                        let card = document.createElement('card-board');

                        let user = item.user != null ? item.user.displayValue : "";
                        let priority = item.priority != null ? item.priority.displayValue : "";

                        card.setAttribute("description", item.description);
                        card.setAttribute("name", item.name);
                        card.setAttribute("entity", item.id);
                        card.setAttribute("user", user);
                        card.setAttribute("priority", priority)
                        
                        if(item.label !== ""){
                            let label = document.createElement('label-board');
                            label.setAttribute("label",item.label);
                            card.appendChild(label);
                        }

                        this.appendChild(card);
                    },
                    isRerender: (child, item) =>{
                        console.log("Label " + item.label);
                        
                        let user = item.user ? item.user.displayValue : "";
                        let priority = item.priority ? item.priority.displayValue : "";
                        console.log(user);
                        if(this.getAttribute("user") !== user){
                            return true;
                        }

                        if(this.getAttribute("priority") !== priority){
                            return true;
                        }
                        
                        if(item.label !== ""){
                            let element = child.querySelector(`label-board[label="${item.label}"]`);
                            return element == null;
                        }
                        else{
                            let element = child.querySelector(`label-board`);
                            return element != null;
                        }

                        return false;
                    }
                }
                updateChildren(this, setting, ['description', 'name','user']);
            }
        }

        static get observedAttributes() {
            return ['title', 'content', 'entity'];
        }

        connectedCallback() { // (2)
            if (!this.rendered) {
                this.render();
                //this.rendered = true;
            }
        }

        attributeChangedCallback(name, oldValue, newValue) {
            this.render();
        }
    }
    customElements.define('column-board', BoardColumn);
</script>