<template id="card">
    <style> 
        .body{
            color: #475466;
            background-color: #ffffff;
            border: 1px solid #bed2eb;
            border-radius: 10px;
            padding: 10px;
            position: relative;
        }
        .user{
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            padding: 5px;
        }
        .drop{
            height: 30px;
            border: 1px solid #475466;
            background-color: #bed2eb;
            display: none;
            margin: 0 auto;
            width: 100%;
            position: absolute;
            top: 0;
            z-index: 10;
        }

        #dropCard{
            height: 30%;
            width: 100%;
            transition: 1s;
        }

        .wrapper{
            position: relative;
        }
    </style>
    <div class="wrapper">
        <div class="drop" id="drop">
            Кинь сюда
        </div>
        <div class="body" id="body">
            <div>
                <h3 id="title">Карточка</h3>
                <span id="priority"></span>
                <div class="column gap">
                    <slot></slot>
                </div>
                <div class="user">
                    <span id="user"></span>
                </div>
            </div>
            <span></span>
        </div>
    </div>
</template>

<script type="module">
    import {post} from "./src/Core/Api/Api.js";
    import taskInformerStore from "./src/Stores/TaskInformerStore.js";
    import {rerenderComponents} from "./src/Core/Render/Rerender.js";

    function initBlockDraggable(element, id) {
        element.setAttribute("draggable", "true");

        function dragstart_handler(ev) {
            element.style.outline = "3px dotted";
            ev.stopPropagation();
            ev.dataTransfer.setData("application/my-app", id);
            ev.dataTransfer.setData("text/html", ev.target.outerHTML);
        }

        element.addEventListener("dragend", (event) => {
            // reset the transparency
            element.style.outline = "none";
        });

        element.removeEventListener("dragstart", dragstart_handler);
        element.addEventListener("dragstart", dragstart_handler);
    }

    function initMainDropEvent(element, orderTask){

        console.log(element);

        async function drop_handler2(event) {
            event.stopPropagation();
            let taskId = event.dataTransfer.getData("application/my-app");
            let card = event.dataTransfer.getData("text/html");

            let ok = await post("/Board/replacetask",{taskId:taskId, taskOrder:orderTask})
            if(ok){
                rerenderComponents("column-board");
            }
        }

        function onDragOver(event){
            // prevent default to allow drop
            event.preventDefault();
            element.querySelector('#drop').style.display = "block";
            event.dataTransfer.dropEffect = "move";
        }

        function onDragLeave(){
            element.querySelector('#drop').style.display = "none";
        }

        element.removeEventListener("dragover", onDragOver);
        element.addEventListener("dragover", onDragOver);

        element.removeEventListener("dragleave", onDragLeave);
        element.addEventListener("dragleave", onDragLeave);

        element.removeEventListener("drop", drop_handler2);
        element.addEventListener("drop", drop_handler2);
    }

    class Card extends HTMLElement {
        constructor() {
            super();
            // элемент создан
        }

        render() { // (1)
            const template = document.querySelector('#card');
            let title = this.getAttribute('name');
            let content = this.getAttribute('description');
            let id = this.getAttribute('entity');
            let user = this.getAttribute('user');
            let priority = this.getAttribute('priority');
            console.log(priority);
            if(this.shadowRoot == null) this.attachShadow({mode: 'open'});
            let node = template.content.cloneNode(true);
            initBlockDraggable(node.getElementById('body'), id);
            node.getElementById('title').innerHTML = title;
            node.getElementById('user').innerHTML = user;
            node.getElementById('priority').innerHTML = priority;
            initMainDropEvent(node.querySelector(".wrapper"), id);
            //node.getElementById('content').innerHTML = content;
            this.shadowRoot.innerHTML = "";
			this.shadowRoot.append(node);
            this.onclick = () =>{
                taskInformerStore.load({id:id});
            }
        }

        static get observedAttributes() {
            return ['name','description', "priority"];
        }

        connectedCallback() { // (2)
            this.render();
        }

        attributeChangedCallback(name, oldValue, newValue) {
            this.render();
        }
    }
    customElements.define('card-board', Card);
</script>