<template id="feild">
    <style>
        .body{
            display: flex;
            gap: 15px;
        }
    </style>
    <div class="body">
        <h3 id="title">Огловление</h3>
        <slot></slot>
    </div>
</template>

<script type="module">
    class BoardFeild extends HTMLElement {
        constructor() {
            super();
            // элемент создан
        }

        render() { // (1)
            const template = document.querySelector('#feild');
            let title = this.getAttribute('title');
            this.attachShadow({mode: 'open'});
            this.shadowRoot.append(template.content.cloneNode(true));
            this.shadowRoot.getElementById('title').innerHTML = title;
        }

        static get observedAttributes() {
            return ['title'];
        }

        connectedCallback() { // (2)
            if (!this.rendered) {
                this.render();
                this.rendered = true;
            }
        }

        attributeChangedCallback(name, oldValue, newValue) {
            this.render();
        }
    }
    customElements.define('feild-board', BoardFeild);
</script>