<template id="label">
    <style>
        .body{
            background-color: rgb(237, 255, 156);
            border: 1px solid black;
            padding: 5px 10px;
            display: inline-block;
            border-radius: 10px;
        }
    </style>
    <div class="body">
        <span id="content"></span>
    </div>
</template>

<script type="module">
    class BoardLabel extends HTMLElement {
        constructor() {
            super();
            // элемент создан
        }

        render() { // (1)
            const template = document.querySelector('#label');
            if(this.shadowRoot == null) this.attachShadow({mode: 'open'});
            this.shadowRoot.innerHTML = "";
            let node = template.content.cloneNode(true);
            node.querySelector("#content").innerHTML = this.getAttribute("label");
            this.shadowRoot.append(node);
        }

        static get observedAttributes() {
            return ['label'];
        }

        connectedCallback() { // (2)
            if (!this.rendered) {
                this.render();
                this.rendered = true;
            }
        }

        attributeChangedCallback(name, oldValue, newValue) {
            this.render();
        }
    }
    customElements.define('label-board', BoardLabel);
</script>